#Footer--container
{
    width: auto;
    height: 278px;
    background-color: #062331;
    
    display: flex;
    justify-content: space-around;

    font-family: Inter;
}

#Footer--cropper 
{
    max-width: 79vw;
    height: 278px;

    display: flex;
    gap: 200px
}

.Footbar--section
{
    
    color: white;

    display: flex;
    flex-direction: column;

    row-gap: 43px;
    margin-top: 43px;
    margin-bottom: 60px;
    letter-spacing: 0.12em;
    
}

.Footbar--section > h1, h2, h3, h4, h5 
{
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.Footbar--links
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.Footbar--link
{
    all: unset;

    font-size: 16px;
    font-weight: 200;

    cursor: pointer;
}

.Footbar--link:hover
{
    color: rgba(255, 255, 255, 0.619);
}

#Footbar--logo
{
    width: 26px;
}

.Footbar--branding
{
    display: flex;
    align-items: center;

    gap: 4px;
}   


.Footbar--address , .Footbar--copyright
{
    display: flex;
    flex-direction: column;

    font-weight: 200;
    font-size: 16px;
}


/* Mobile version */

#Footer--container--mobile
{
    min-width: 100%;
    background-color: #062331;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;

    font-family: Inter;
}